---
import { Image } from "@astrojs/image/components"
import mixingDesk from "@assets/mixing-desk.jpg"
---

<div class="flex flex-col items-center gap-y-10 h-screen">
  <div
  class="px-20 grid grid-flow-col grid-cols-2 md:flex-row mt-28 md:space-x-10 justify-center align-items-center">
    <div class="">
      <h1
        class="leading-tight text-6xl font-bold text-black dark:text-white pb-4"
      >
        Bem-vindo à <br /> GDStudio
      </h1>
      <p class="leading-loose opacity-90 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <p class="leading-loose opacity-90 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore commodi perferendis assumenda repellat cumque tempora corporis magni aut a alias quos, facilis aperiam, ipsa quas nobis quam aspernatur architecto qui!</p>
      <p class="leading-loose opacity-90">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore commodi perferendis assumenda repellat cumque tempora corporis magni aut a alias quos, facilis aperiam, ipsa quas nobis quam aspernatur architecto qui!</p>
    </div>
    <Image
      class="rounded-3xl"
      src={mixingDesk}
      alt="alternative text"
      width={600}
    />
  </div>
</div>
