---
import { Image } from "@astrojs/image/components";
import mixingDesk from "@assets/mixing-desk.jpg";
---

<div
  class="mb-44 lg:mb-0 mt-6 md:mt-16 lg:mt-28 px-3 md:px-8 lg:px-20 flex flex-col gap-4 lg:flex-row h-screen"
>
  <div class="max-w-2xl space-y-2">
    <h1 class="text-4xl md:text-6xl font-bold text-black dark:text-white pb-4">
      Bem-vindo à <br /> GDStudio
    </h1>
    <p class="leading-relaxed opacity-90">
      Escritor: não somente uma certa maneira especial de ver as coisas, senão
      também uma impossibilidade de as ver de qualquer outra maneira.
    </p>
    <p class="leading-relaxed opacity-90">
      Hoje quando acordei, procurei-te numa ânsia ardente, mas em vão. Deixaste
      em meu corpo e no lençol provas irrefutáveis do que entre nós ocorreu
      durante a noite. Esta noite recolho-me mais cedo, para na mesma cama, te
      esperar.
    </p>
    <p class="leading-relaxed opacity-90">
      Quando chegares, quero te agarrar com avidez e força. Quero te apertar com
      todas as forças de minhas mãos. Só descansarei quando vir sair o sangue
      quente do seu corpo. Só assim, livrar-me-ei de ti, pernilongo filho da...
    </p>
  </div>
  <div>
    <Image class="rounded-3xl" src={mixingDesk} alt="alternative text" width={600} />
  </div>
</div>
