---
import LandingPage from "@layouts/landing-page.astro";
import Services from "@components/landing-page/services/services.astro";
import Banner from "@components/landing-page/banner.astro";
---

<LandingPage title="GDStudio">
  <main>
      <Banner />
    <Services />
  </main>
</LandingPage>
