---
import DarkThemeIcon from "@assets/DarkThemeIcon.astro"
import LightThemeIcon from "@assets/LightThemeIcon.astro"
---

<button
  id="theme-toggle"
  type="button"
  class="text-black text-sm p-2 dark:text-yellow-400 focus:outline-none"
>
  <DarkThemeIcon />
  <LightThemeIcon />
</button>
