---
import ThemeToggleDarkIcon from "@assets/ThemeToggleDarkIcon.astro"
import ThemeToggleLightIcon from "@assets/ThemeToggleLightIcon.astro"
---

<button
  id="theme-toggle"
  type="button"
  class="text-black text-sm p-2 dark:text-yellow-400 focus:outline-none"
>
  <ThemeToggleDarkIcon />
  <ThemeToggleLightIcon />
</button>
