---
import "../styles/base.css"
import "@fontsource/roboto-serif";
import Header from "@components/landing-page/header.astro";
import ToggleThemeScript from "@components/landing-page/navigation/theme-toggle-script.astro";
import HeadCommon from "@components/head-common.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <HeadCommon />
    <title>{title}</title>
    <script is:inline>
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <ToggleThemeScript />
  </head>
  <body> 
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
