---
import '@fontsource/inter';

import Header from '@components/Header.astro';
import UserThemeScript from '@components/utils/UserThemeScript.astro';
import ToggleThemeScript from '@components/utils/ToggleThemeScript.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<UserThemeScript />
		<ToggleThemeScript />

	</head>
	<body class="bg-black text-zinc-200">
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
	html {
		font-family: Inter, system-ui, sans-serif;
	}
</style>
